<h2><%= @post.title %></h2>
<p><%= @post.body %> </p>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-outline-secondary'%>
<%= link_to "Delete", post_path(@post), 
                      method: :delete,
                      data: {confirm: 'Are you sure?'},
                     :class => 'btn btn-danger'%>